.navbar{
  height:70px;
  background:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 25px;
  box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.nav-right{
  display:flex;
  gap:15px;
  align-items:center;
}

.navbar button{
  background:#4f46e5;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
}